{% extends "base.html" %}

{% block content %}
  <h1>
    Username: {{ worker.username }}
    <a href="{% url 'task_manager:worker-delete' pk=worker.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'task_manager:worker-update' pk=worker.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>

  <p><strong>First name:</strong> {{ worker.first_name }}</p>
  <p><strong>Last name:</strong> {{ worker.last_name }}</p>
  <p><strong>Position:</strong> {{ worker.position.name|default:"Not assigned" }}</p>
  <p><strong>Email:</strong> {{ worker.email }}</p>
  <p><strong>Is staff:</strong> {{ worker.is_staff }}</p>

  <div class="ml-3">
    <h4>Tasks</h4>

    {% for task in worker.tasks.all %}
        <hr>
        <p>
          <strong>Task:</strong>
          <a href="{% url 'task_manager:task-detail' pk=task.id %}">{{ task.name }}</a>
        </p>
        <p><strong>Type:</strong> {{ task.task_type.name }}</p>
        <p><strong>Priority:</strong> {{ task.get_priority_display }}</p>
        <p><strong>Deadline:</strong> {{ task.deadline }}</p>
        <p><strong>Status:</strong> {% if task.is_completed %}Completed{% else %}In progress{% endif %}</p>

    {% empty %}
      <p>No tasks assigned!</p>
    {% endfor %}
  </div>
{% endblock %}
